friendly_name_prefix = "cloud-team"
common_tags = {
  Owner     = "cloud-team"
  Terraform = "cli"
  Env       = "tests-main"
}

vpc_id                 = "vpc-00000000000000000"
subnet_ids             = ["subnet-11111111111111111", "subnet-22222222222222222"]
cidr_ingress_ssh_allow = ["10.0.0.0/16"]
ssh_key_pair_name      = "my_ssh_key_pair"

tfc_agent_token  = "11111111111111.atlasv1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
tfc_agent_name   = "cloud-agent"
number_of_agents = 2